
a:link, a:visited {
	background-color: blue;
    color: #fff;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	width: 250px;
}

a:hover, a:active {
    background-color: blue;
}